/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    --goldenColor: rgb(193, 150, 41);
}

h1, h2, h3{
    font-family: 'Montserrat', sans-serif;
}
h1{
    letter-spacing: 1em;
    font-weight: 500;
    position: relative;
    transition: all .2s ease-in-out;
}
h2{
    font-size: 2em;
    font-weight: 300;
}
h3{
    font-size: 1.1em;
    font-weight: 500;
}


/* START HEADER */
header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10vh;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid black;
}
#logo{
    grid-column: 1/2;
    justify-self: flex-start;
    margin-left: 2em;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
}
header a{
    text-decoration: none;
    color: black;
}
header h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 0.1rem;
    background-color: var(--goldenColor);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.35s ease-in-out;
}
header h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 0.1rem;
    background-color: var(--goldenColor);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.35s ease-in-out;
}
header h1:hover::before,
header h1:hover::after{
    transform: scaleX(1);
}
header i{
    font-size: 1.5em;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
header i:hover{
    scale: 1.2;
    color: var(--goldenColor);
}
#iconos{
    grid-column: 3/-1;
    grid-row: 1/-1;
    justify-self: flex-end;
    margin-right: 2em;
    display: flex;
    gap: 2em;
}
header nav{
    grid-column: 2/3;
    padding: 20px;
    text-transform: uppercase
}
header nav span{
    margin: 1em;
    color: black;
    font-size: 1.1em;
    font-weight: 400;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
header nav span:hover, h1:hover{
    transition: color .15s ease-in-out;
    color: var(--goldenColor);
}
.selected{
    box-shadow:  5px 5px 10px gray;
}
/* END HEADER */

/* MAIN HOME */
#home{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 90vh repeat(13, 1fr);
    grid-gap: 1em;
}

/* SLIDER */
#carousel {
    position: relative;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}
#imagen{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .2s ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#carousel--text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 0.5em;
    color: var(--goldenColor);
    transition: all .2s ease-in-out;
}
#retroceder, #avanzar{
    cursor: pointer;
    transition: all .2s ease-in-out;
    position: absolute;
    color: white;
    font-size: 3em;
    z-index: 100;
}
#retroceder{
    left: 30px;
    top: 0;
    bottom: 0;
}
#avanzar{
    right: 30px;
}
#retroceder:hover, #avanzar:hover{
    scale: 1.2;
}

/* SECTIONS */
.section{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5em;
    border-radius: 5px;
    box-shadow: 0px 0px 10px gray;
    cursor: pointer;
}
.section h2{
    font-size: 1em;
    position: relative;
}
.section h2::after{
    content: "";
    position: absolute;
    width: 100%;
    background-color: black;
    height: .1em;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s ease-in-out;
}
.section:hover{
    color: var(--goldenColor);
}
.section:hover h2::after{
    transform: scaleX(1);
    background-color: var(--goldenColor);
}
.sectionImg{
    flex-basis: 45%;   
}
.sectionImg img{
    width: 100%;
}
#men{
    grid-row: 3 / 6;
    grid-column: 2 / 7;
}
#women{
    grid-row: 3 / 6;
    grid-column: 7 / 12;
}
#jewelry{
    grid-row: 6 / 9;
    grid-column: 2 / 7;
}
#electronics{
    grid-row: 6 / 9;
    grid-column: 7 / 12;
}


/* SOCIAL NETWORKS */
#social_networks{
    grid-column: 2 / 12;
    grid-row: 10 / 13;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
#social_networks--images{
    height: 100%;
    flex-basis: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#social_networks--images img{
    width: 32%;
    object-fit: cover;
}
#social_networks--content{
    height: 100%;
    padding: 2em;
    flex-basis: 40%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#social_networks--icons{
    display: flex;
    gap: 1em;
}
#social_networks--icons a{
    text-decoration: none;
    color: white;
}
#social_networks--icons i{
    font-size: 2em;
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: black;
}
#social_networks--icons i:hover{
    scale: 1.2;
}

/* NEWSLETTER */
#newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    grid-column: 2 / 12;
    grid-row: 13 / -1;
}
#newsletter--email{
    padding: .5em;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    text-align: center;
}
#newsletter button{
    padding: .7em;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: 0;
    outline: 0;
    background-color: var(--goldenColor);
}
/* END MAIN HOME */

/* FOOTER */
footer{
    border-top: 2px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25vh;
}
.footerSection{
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}
.footerSection h3{
    font-size: 1.5em;
}
.links{
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.links a{
    text-decoration: none;
    color: black;
    transition: all .2s ease-in-out;
}
.links a:hover{
    font-weight: bold;
}
#pago .links{
    display: flex;
    flex-direction: row;
}
#pago .links i{
    font-size: 1.5em;
    transition: all .2s ease-in-out;
}
#pago .links i:hover{
    scale: 1.2;
}
/* END FOOTER */

/* LOADING GIF */
#loadingGif{
    z-index: 900;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center;
    width: 10em;
}

/* ARTICLES SECTIONS */
#mainArticles{
    min-height: 75vh;
    display: grid;
    grid-template-columns: 10vw repeat(2, 40vw) 10vw;
    grid-template-rows: 20vh 1fr;
}
.mainHeader{
    width: 80%;
    margin: auto;
    padding: 1em;
    border-bottom: 2px solid black;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}
.mainHeader h2{
    font-size: 1.5em;
}
.orderBy{
    display: flex;
    align-items: center;
    gap: 15px;
}
.order{
    border-color: lightgray;
    padding: .7em;
    outline: 1px solid lightgray;
    border-radius: 5px;
}
.numColumns, .numColumn{
    display: flex;
    align-items: center;
    gap: 5px;
}
.numColumn{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: .7em;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.numColumn:hover{
    background-color: black;
}
.numColumn:hover span{
    background-color: white;
}
.numColumn span{
    width: 10px;
    height: 10px;
    background-color: gray;
}
.divArticles{
    grid-column: 2 / 4;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: fit-content;
    margin: auto;
}
.articleCard{
    display: flex;
    flex-direction: column;
    margin: 50px;
    cursor: pointer;
}
.articleCard--image{
    /* width: 100%; */
    padding: 2em;
    flex-basis: 70%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.articleCard--image:hover img{
    transition: all .2s ease-in-out;
    scale: 1.1;
}
.articleCard--image img{
    width: 60%;
    margin: auto;
}
.articleCard--info{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
    padding: 1em;
    font-size: 1em;
    background-color: rgb(225, 223, 223);
}
.articleCard--name:hover{
    color: var(--goldenColor);
    text-decoration: underline;
}
.articleCard--price{
    font-weight: 600;
}
/* ARTICLE RATING */
.rating{
    display: flex;
    align-items: center;
    gap: 1em;
}
.rating p{
    font-size: 1.2rem;
}
.ratingArticle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ratingArticle [data-star]::before{
    color: rgb(225, 223, 223);
}
[data-star] {
    text-align:left;
    font-style:normal;
    font-size: 2rem;
    display:inline-block;
    position: relative;
    unicode-bidi: bidi-override;
  }

  [data-star]::before { 
    display:block;
    content: '★★★★★';
    color: white;
  }

  [data-star]::after {
    position: absolute;
    top: 0;
    content: '★★★★★';
    width: 0;
    color: orange;
    overflow: hidden;
    height: 100%;
    display: flex;
}
  
  [data-star^="0.1"]::after,[data-star^=".1"]::after{width:2%}
  [data-star^="0.2"]::after,[data-star^=".2"]::after{width:4%}
  [data-star^="0.3"]::after,[data-star^=".3"]::after{width:6%}
  [data-star^="0.4"]::after,[data-star^=".4"]::after{width:8%}
  [data-star^="0.5"]::after,[data-star^=".5"]::after{width:10%}
  [data-star^="0.6"]::after,[data-star^=".6"]::after{width:12%}
  [data-star^="0.7"]::after,[data-star^=".7"]::after{width:14%}
  [data-star^="0.8"]::after,[data-star^=".8"]::after{width:16%}
  [data-star^="0.9"]::after,[data-star^=".9"]::after{width:18%}
  [data-star^="1"]::after{width:20%}
  [data-star^="1.1"]::after{width:22%}
  [data-star^="1.2"]::after{width:24%}
  [data-star^="1.3"]::after{width:26%}
  [data-star^="1.4"]::after{width:28%}
  [data-star^="1.5"]::after{width:30%}
  [data-star^="1.6"]::after{width:32%}
  [data-star^="1.7"]::after{width:34%}
  [data-star^="1.8"]::after{width:36%}
  [data-star^="1.9"]::after{width:38%}
  [data-star^="2"]::after{width:40%}
  [data-star^="2.1"]::after{width:42%}
  [data-star^="2.2"]::after{width:44%}
  [data-star^="2.3"]::after{width:46%}
  [data-star^="2.4"]::after{width:48%}
  [data-star^="2.5"]::after{width:50%}
  [data-star^="2.6"]::after{width:52%}
  [data-star^="2.7"]::after{width:54%}
  [data-star^="2.8"]::after{width:56%}
  [data-star^="2.9"]::after{width:58%}
  [data-star^="3"]::after{width:60%}
  [data-star^="3.1"]::after{width:62%}
  [data-star^="3.2"]::after{width:64%}
  [data-star^="3.3"]::after{width:66%}
  [data-star^="3.4"]::after{width:68%}
  [data-star^="3.5"]::after{width:70%}
  [data-star^="3.6"]::after{width:72%}
  [data-star^="3.7"]::after{width:74%}
  [data-star^="3.8"]::after{width:76%}
  [data-star^="3.9"]::after{width:78%}
  [data-star^="4"]::after{width:80%}
  [data-star^="4.1"]::after{width:82%}
  [data-star^="4.2"]::after{width:84%}
  [data-star^="4.3"]::after{width:86%}
  [data-star^="4.4"]::after{width:88%}
  [data-star^="4.5"]::after{width:90%}
  [data-star^="4.6"]::after{width:92%}
  [data-star^="4.7"]::after{width:94%}
  [data-star^="4.8"]::after{width:96%}
  [data-star^="4.9"]::after{width:98%}
  [data-star^="5"]::after{width:100%}
/* END ARTICLES SECTIONS */

/* ARTICLE INFO */
#mainArticleInfo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
}
.articleDiv--image{
    grid-column: 2 / 4;
    grid-row: 1 / -1;
    padding: 3em;
}
.articleDiv--image img{
    width: 90%;
}
.articleDiv--info{
    grid-column: 4 / 6;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    line-height: 1.7em;
    text-align: center;
    padding: 1.5em;
}
.articleDiv--description{
    text-align: left;
}
.articleDiv--info h2{
    line-height: 1.2em;
    font-weight: 500;
}
.articleDiv--info h3{
    text-decoration: underline;
}
.articleDiv--price{
    font-weight: 600;
    font-size: 1.2em;
    transition: all .2s ease-in-out;
    width: fit-content;
    margin: 0 auto;
    cursor: default;
}
.articleDiv--price:hover{
    scale: 1.2;
}
.shoppingDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;
    margin: 0 auto;
}
#quantity, #size{
    width: 5em;
    outline: 0;
    padding: .6em;
    cursor: pointer;
}
.addToCartBtn{
    background-color: var(--goldenColor);
    color: white;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    padding: .7em;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
    transition: all .15s ease-in-out;
}
.addToCartBtn:hover{
    box-shadow: 7px 7px 5px gray;
}
/* END ARTICLE INFO */

/* START SHOPPING CART */
#shoppingCart{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10vh minmax(50vh, 100%);
}
#shoppingTitle{
    grid-row: 0 / 1;
    grid-column: 3 / 5;
    justify-self: center;
    align-self: center;
}
#shoppingContainer{
    grid-row: 2 / -1;
    grid-column: 2 / 6;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    box-shadow:  13px 13px 21px #666666,
             -13px -13px 21px #ffffff;
    margin: 2.5em;
    border-radius: 10px;
}
#shoppingContainer--products{
    flex-basis: 70%;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
}
#shoppingContainer--price{
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1.5em;
}
#price{
    display: flex;
    flex-direction: column;
    gap: 1.5em;    
}
#total{
    border-top: 1px solid black;
    padding-top: 1.5em;
}
#linkComprar{
    width: 70%;
}
#comprarBtn{
    width: 100%;
    background-color: #1D6DDD;
    color: white;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: .8em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
#comprarBtn:hover{
    background-color: blue;
}
#shoppingContainer--products{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.shoppinCartProduct{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 20vh;
    width: 100%;
}
.shoppinCartProduct figure{
    flex-basis: 20%;
    height: 100%;
    padding: .6em;
}
.shoppinCartProduct img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.productInfo{
    flex-basis: 80%;
    padding: .8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: .6em;
}
.productoName h3{
    font-size: 1em;
}
.productPrice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.deleteProductBtn{
    position: absolute;
    top: .5em;
    right: .7em;
    align-self: flex-end;
    color: #e91b0c;
    font-weight: 600;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
.deleteProductBtn:active{
    scale: 0.9;
}
.productQuantity{
    width: 15%;
}
/* END SHOPPING CART */

/* START LOGIN REGISTER */
#loginRegister{
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 62.6vh;
    place-items: center;
    padding: .4em;
}
#logIn{
    grid-column: 1 / 2;
}
#register{
    grid-column: 2 / -1;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    width: fit-content;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.input{
    display: flex;
    flex-direction: column;
    gap: .3em;
}
input{
    padding: .5em;
}
input[type="email"]:focus:valid, input[type="password"]:focus:valid, input[type="text"]:focus:valid{
    outline: 1px solid lime;
    border: 0;
}

input[type="email"]:invalid, input[type="password"]:invalid, input[type="text"]:invalid{
    outline: 1px solid #e91b0c;
    border: 0;
}
/* END LOGIN REGISTER */

/* START CHECKOUT */
#checkOut{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 62.6vh;
}
#checkOutForm{
    text-align: center;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2em;
}
#checkOutForm > div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.select{
    display: flex;
    gap: 1em;
}
#checkOutForm select{
    padding: .5em;
    width: 100%;
}
#submitCheckOut{
    grid-column: 1 / -1;
    height: 2rem;
    width: 5rem;
    place-self: center;
    border: 0;
    outline: 0;
    background-color: var(--goldenColor);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all .15s ease-in-out;
}
#submitCheckOut:hover{
    box-shadow: 7px 7px 5px gray;
}
/* END CHECKOUT */